APP_NAME=Hackathon IaaS API
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/iaas
JWT_SECRET=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=120

DEFAULT_PLAN_NAME=starter
DEFAULT_PLAN_CPU=1
DEFAULT_PLAN_RAM_MB=1024
INITIAL_CREDITS=100

DEFAULT_FLAVOR_NAME=t2.micro
DEFAULT_FLAVOR_CPU=1
DEFAULT_FLAVOR_RAM_MB=1024
DEFAULT_FLAVOR_RATE=1

DEFAULT_IMAGE_CODE=ubuntu-22.04
DEFAULT_IMAGE_REF=ubuntu:22.04
DEFAULT_IMAGE_NAME=Ubuntu 22.04 LTS

SECONDARY_IMAGE_CODE=alpine-3.20
SECONDARY_IMAGE_REF=alpine:3.20
SECONDARY_IMAGE_NAME=Alpine 3.20

DOMAIN=example.com
DEPLOYMENT_NETWORK_NAME=iaas-backbone
NGINX_CONTAINER_NAME=iaas-nginx
DEPLOYMENT_PUBLIC_PATH_PREFIX=hosted
DEPLOYMENT_PUBLIC_SCHEME=https

GEMINI_API_KEY=your-gemini-api-key
